################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TerminalPlus/FileContentIndex/1dad4618-3961-466c-8f47-b4588fe1dfa1.vsidx
/.vs/TerminalPlus/FileContentIndex
